<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI Chat</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="chat-container">

        <div class="chat-sidebar">
            <div class="top-bar">
                <div class="user-info">
                    <div class="user-name">Logged as: <strong>{{ name }}</strong> (@{{ nickname }})</div>
                    <form method="post" action="/logout">
                        <button class="logout-button" type="submit">Logout</button>
                    </form>
                </div>
            </div>

            <h1 style="margin: 15% 20% 15% 25%;">Chat Rooms</h1>
            <div class="user-search">
                <input type="text" id="user-search-input" placeholder="Search user by nickname..." autocomplete="off">
                <ul id="user-suggestions" class="suggestions"></ul>
            </div>
            <div id="chat-list">
                {% for chat in chats %}
                    {% if chat.is_group %}
                        <div class="single-chat" data-chat-id="{{ chat.id }}" data-chat-name="{{ chat.chat_name }}" data-current-user-nickname="{{ chat.user_nickname }}">
                            {{ chat.chat_name }}
                        </div>
                    {% else %}
                        <div class="single-chat" data-chat-id="{{ chat.id }}" data-chat-name="{{ chat.name }}" data-current-user-nickname="{{ chat.user_nickname }}" data-current-user-id="{{ chat.user_id }}">
                            {{ chat.name }}
                        </div>
                    {% endif %}
                    <br>
                {% endfor %}
            </div>
        </div>
        <div class="chat-main">
            <div class="chat-header">
                <h2 id="chat-title">{{ selected_chat_name }}</h2>
                <span id="current-chat-id" style="display:none;">{{ selected_chat_id }}</span>
                <label id="current-user-nickname">@{{ selected_user_nickname }}</label>
                <label id="current-user-id" style="display: none;"></label>
                <label id="current-chat-name" style="display: none;"></label>
            </div>

            <div class="chat-messages" id="messages-container"></div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
    <script src="/static/js/chat.js"></script>
    <script>const CURRENT_USER_ID = "{{ request.session['user_id'] }}";</script>
    <script>
      window.currentUserId = "{{ request.session.get('user_id') }}";

      // Optionally, you can also pass currentChatId here if you have it
      // window.currentChatId = "some-chat-id";
    </script>

    <script src="/static/js/chat_ws.js"></script>


</body>
</html>